@if (IsVisible)
{
    <FormLoader Istrue="@IsloaderShow"></FormLoader>
    <style>
        .FileNameclass {
            text-overflow: ellipsis;
            width: 174px;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
    <div id="kt_quick_cart3" class="offcanvas offcanvas-right p-10 offcanvas-on w-50" style="position:fixed;z-index:999999999">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-7 w-50 popup_header" kt-hidden-height="46">
            <h4 class="font-weight-bold ">Add New User</h4>
            <a @onclick="CloseSideBar" class="btn" id="kt_quick_cart_close">
                <i class="p-0 fa fa-window-close"></i>
            </a>
        </div>
        <div class="offcanvas-content pt-5">

            <div class="offcanvas-wrapper  scroll-pull scroll ps ps--active-y" style="height: auto;overflow:visible">
                <div class=" ">
                    <EditForm Model="@UserModal" OnValidSubmit="@SaveUserData">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="card-body">
                            <div class="row">
                                @* <div class="col-6">
                                    <div class="form-group">
                                        <label>User Key: <span class="text-danger">*</span></label>
                                        <InputText id="txtfirstname" disabled=true class="form-control" @bind-Value="UserModal.UserKey"   Placeholder="Generate User Key" tabindex="1" />

                                    </div>
                                </div> *@
                                @* <div class="col-6">
                                    <div class="form-group mt-4 ">
                                        <button type="button" id="btnCheckAvailability" class="btn btn-info" @onclick="GenerateUserKey" tabindex="6">Generate User Key</button>
                                    </div>
                                </div> *@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name: <span class="text-danger">*</span></label>
                                        <InputText id="txtfirstname" class="form-control" @bind-Value="UserModal.Firstname" @onfocusout="NameChange" Placeholder="Enter User's First Name" tabindex="1" />
                                        @*<ValidationMessage For="() => UserModal.Firstname" />*@
                                    </div>
                                    <div class="form-group">
                                        <label>Short Name: <span class="text-danger">*</span></label>
                                        <InputText id="txtShortName" class="form-control" @bind-Value="UserModal.ShortName" Placeholder="Enter User's Short Name" tabindex="3" />
                                        @*<ValidationMessage For="() => UserModal.Email" />*@
                                    </div>
                                    <div class="form-group">
                                        <label>Email: <span class="text-danger">*</span></label>
                                        <InputText id="txtEmail" class="form-control" @bind-Value="UserModal.Email" Placeholder="Enter User's Email" tabindex="5" />
                                        @*<ValidationMessage For="() => UserModal.Email" />*@
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btnUseAsUsername" class="btn btn-info" @onclick="UseEmailAsUsername" tabindex="7">Use as Username</button>

                                    </div>
                                    <div class="form-group">
                                        <label>Password: <span class="text-danger">*</span></label>
                                        <InputText id="txtlastname" class="form-control" @bind-Value="UserModal.Password" Placeholder="Enter User's Password" tabindex="9" />
                                        @*<ValidationMessage For="() => UserModal.Password" />*@
                                    </div>
                                 
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name: <span class="text-danger">*</span></label>
                                        <InputText id="txtlastname" class="form-control" @bind-Value="UserModal.Lastname" @onfocusout="NameChange" Placeholder="Enter User's Last Name" tabindex="2" />
                                        @*<ValidationMessage For="() => UserModal.Lastname" />*@
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRole">User Role <span class="text-danger">*</span></label>
                                        <InputSelect id="transactionStatus" class="form-control" @bind-Value="UserModal.UserRole" tabindex="4">
                                            @foreach (var state in lstUserRoles)
                                                {
                                                <option value="@state.Value">@state.Text</option>
                                                }
                                        </InputSelect>
                                        @*<ValidationMessage For="() => UserModal.UserRole" />*@
                                    </div>
                                    <div class="form-group">
                                        <label>User Name: <span class="text-danger">*</span></label>
                                        <InputText id="txtUsername" class="form-control" @bind-Value="UserModal.Username" Placeholder="Enter User Name" tabindex="6" />
                                        @*<ValidationMessage For="() => UserModal.Username" />*@
                                    </div>

                                    <div class="form-group">
                                        <button type="button" id="btnCheckAvailability" class="btn btn-info" @onclick="CheckAvailability" tabindex="8">Check Availability</button>
                                        <span class="@CssClass" style="float:right; margin-top:10px;">@UserAvailability</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputRole">User Status <span class="text-danger">*</span></label>
                                        <InputSelect id="transactionStatus" class="form-control" @bind-Value="UserModal.UserStatus" tabindex="10">
                                            @foreach (var state in lstUserStatus)
                                            {
                                                <option value="@state.Value">@state.Text</option>
                                            }
                                        </InputSelect>
                                        @*<ValidationMessage For="() => UserModal.UserRole" />*@
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="ml-lg-4 ml-md-4 ml-sm-4 mr-3">
                            <button type="submit" class=" ml-2 btn  float-right btn-info" tabindex="11">Save</button>
                            <button type="reset" class="btn btn-secondary float-right" @onclick="CloseSideBar" tabindex="12">Cancel</button>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="offcanvas-footer" kt-hidden-height="112" style="">
            </div>

            @*<img style="position:fixed;top:50%;left:70%;" src="assets/media/loading.gif" />*@

        </div>
    </div>
}

<ModalShowpopup showModal="@responseDialogVisibility" Message="@responseBody" title="@responseHeader" OnVisibilityChangedModel="@OnVisibilityChangedModel"></ModalShowpopup>

