@if (IsChangePasswordPopupVisibile)
{
    <FormLoader Istrue="@IsloaderShow"></FormLoader>
    <div id="kt_quick_cart3" class="offcanvas offcanvas-right p-10 offcanvas-on w-25" style="position:fixed;z-index:999999999">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-7 w-25 popup_header" id="sm-width" kt-hidden-height="46">
            <h4 class="font-weight-bold ">Change Password</h4>
            <a @onclick="CloseSideBar" class="btn" id="kt_quick_cart_close">
                <i class="p-0 fa fa-window-close"></i>
            </a>
        </div>

        <div class="offcanvas-content">
            <div class="offcanvas-wrapper  scroll-pull scroll ps ps--active-y" style="height: auto;overflow:visible">
                <div class="card" style="box-shadow:none;">
                  <div class="card-body mt-4">
                        <EditForm Model="@PasswordModal" OnValidSubmit="UpdatePassword">
                                        <DataAnnotationsValidator />
                                        <ValidationSummary />
                                        <div class="row">
                                            <label for="currentPassword" class="col-form-label">Current Password</label>
                                            <div class="col-sm-12">
                                                <div class="input-group mb-3">
                                                    <InputText type="@currentTxtType" @bind-Value="PasswordModal.Password" class="form-control" style="width:80% !important;" id="txtCurrentPass" />
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="@currentTxtTypeIcon" @onclick="()=>SetPasswordTextView(1)" style="cursor:pointer;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label for="NewPassword" class="col-form-label">New Password</label>
                                            <div class="col-sm-12">
                                                <div class="input-group mb-3">
                                                    <InputText type="@newTxtType"  @bind-Value="PasswordModal.NewPassword" style="width:80% !important;" class="form-control" id="txtNewPass" />
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="@newTxtTypeIcon" @onclick="()=>SetPasswordTextView(2)" style="cursor:pointer;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label for="ConfirmPassword" class="col-form-label">Confirm Password</label>
                                            <div class="col-sm-12">
                                                <div class="input-group mb-3">
                                                    <InputText type="@confirmTxtType" @bind-Value="PasswordModal.ConfirmPassword" runat="server" style="width:80% !important;" class="form-control" id="txtConfirmPass" />
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="@confirmTxtTypeIcon" @onclick="()=>SetPasswordTextView(3)" style="cursor:pointer;"></span>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="offset-sm-3 col-sm-9">
                                                <button type="submit" class=" ml-2 btn  float-right btn-primary" tabindex="4">Update</button>
                                            </div>
                                        </div>
                                    </EditForm>                              
                           
                        
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <div class="offcanvas-footer" kt-hidden-height="112" style="">
            </div>

            @*<img style="position:fixed;top:50%;left:70%;" src="assets/media/loading.gif" />*@

        </div>
    </div>


}
<ModalShowpopup showModal="@responseDialogVisibility" Message="@responseBody" title="@responseHeader" OnVisibilityChangedModel="@OnVisibilityChangedModel"></ModalShowpopup>

@code {
    public string currentTxtType { get; set; } = "password";
    public string currentTxtTypeIcon { get; set; } = "fa fa-eye-slash";

    public string newTxtType { get; set; } = "password";
    public string newTxtTypeIcon { get; set; } = "fa fa-eye-slash";

    public string confirmTxtType { get; set; } = "password";
    public string confirmTxtTypeIcon { get; set; } = "fa fa-eye-slash";
    static bool currentTxt = false;
    static bool newTxt = false;
    static bool confirmTxt = false;
   

    public void SetPasswordTextView(int ctlID)
    {
        switch (ctlID)
        {
            case 1:             // Current password input
                currentTxt = !currentTxt;
                currentTxtType = currentTxt == true ? "text" : "password";
                currentTxtTypeIcon = currentTxt == true ? "far fa-eye" : "fa fa-eye-slash";
                break;
            case 2:             // New password input
                newTxt = !newTxt;
                newTxtType = newTxt == true ? "text" : "password";
                newTxtTypeIcon = newTxt == true ? "far fa-eye" : "fa fa-eye-slash";
                break;
            case 3:             // Confirm password input
                confirmTxt = !confirmTxt;
                confirmTxtType = confirmTxt == true ? "text" : "password";
                confirmTxtTypeIcon = confirmTxt == true ? "far fa-eye" : "fa fa-eye-slash";
                break;
        }
    }
}
