@using ArdantOffical.Data.ModelVm.Invoices
<style>
    .rz-grid-table {
        width: unset;
    }
</style>

<FormLoader Istrue="@IsloaderShow"></FormLoader>
<style>
    .FileNameclass {
        text-overflow: ellipsis;
        width: 174px;
        white-space: nowrap;
        overflow: hidden;
    }

    .rz-grid-table {
        width: unset;
    }
</style>
<div id="kt_quick_cart3" class="offcanvas offcanvas-right p-10 offcanvas-on w-75" style="position:fixed;z-index:999999999">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-7 w-75 popup_header" kt-hidden-height="46">
        <h4 class="font-weight-bold ">Add Invoice Item</h4>
        <a @onclick="CloseSideBar" class="btn" id="kt_quick_cart_close">
            <i class="p-0 fa fa-window-close"></i>
        </a>
    </div>
    <div class="offcanvas-content pt-5">

        <div class="offcanvas-wrapper  scroll-pull scroll ps ps--active-y" style="height: auto;overflow:visible">
            <div class="mb-4">
                <EditForm Model="@Modal" OnValidSubmit="SaveData">

                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="card-body">

                        <div class="row">
                            <div class="col-3">
                                <label for="exampleInputaddress" class="form-label">Job Invoice</label>
                            </div>
                            <div class="col-7">
                                <div class="mb-3">
                                    <select class="form-control" aria-label="Default select example" @bind="Modal.Unit">
                                        <option selected>--Select Job--</option>
                                        @foreach (var item in lstAssignedJobs)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    </select>
                                    <ValidationMessage For="() => Modal.ItemName" />
                                </div>


                            </div>
                            <div class="col-3">
                                <label for="exampleInputaddress" class="form-label">Invoice Date</label>
                            </div>
                            <div class="col-7">
                                <div class="mb-3">
                                    <InputDate @bind-Value="Modal.Date" class="form-control" />
                                </div>


                            </div>
                        </div>

                        <!--Radzen Data Grid-->
                        <div class="row">
                            <div class="col-12">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px" class="mt-2 mb-4">
                                    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Add New Order" Click="@InsertRow" Disabled="@(editMode == DataGridEditMode.Single && InvoiceItemsToInsert.Count() > 0)" />
                                    <div style="white-space:nowrap; margin-left: 20px ">Edit Mode:</div>
                                    <RadzenSelectBar @bind-Value="@editMode" TextProperty="Text" ValueProperty="Value" style="margin-right: 16px"
                                                     Data="@(Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small"
                                                     Disabled="@(editMode == DataGridEditMode.Multiple && InvoiceItemsToInsert.Count() > 1)" />
                                </RadzenStack>

                                <RadzenDataGrid @ref="invoiceItemGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="@editMode"
                                                Data="@lstInvoiceItems" TItem="InvoiceItemsVm" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
                                    <Columns>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="SNo" Title="S.No" Width="120px" Frozen="true">
                                            <Template Context="InvoiceItemsVm">
                                                @(invoiceItemsVm.SNo + 1)
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="ItemName" Title="Item Name" Width="280px">
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenDropDown @bind-Value="@InvoiceItemsVm.ItemName" Data="@ItemsList" TextProperty="Text" ValueProperty="Value" Style="width:100%; display: block;" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="Description" Title="Description" Width="220px">
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <InputRichText @bind-Value="InvoiceItemsVm.Description" Style="width:200px; display: block" Name="Description" />
                                            </EditTemplate>
                                            
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="Hours" Title="Hours">
                                            <Template Context="InvoiceItemsVm">
                                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", InvoiceItemsVm.Hours)
                                            </Template>
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenNumeric @bind-Value="InvoiceItemsVm.Hours" Style="width:100%" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="Minutes" Title="Minutes">
                                            <Template Context="InvoiceItemsVm">
                                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", InvoiceItemsVm.Minutes)
                                            </Template>
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenNumeric @bind-Value="InvoiceItemsVm.Minutes" Style="width:100%" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="KM" Title="KM(s)">
                                            <Template Context="InvoiceItemsVm">
                                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", InvoiceItemsVm.KM)
                                            </Template>
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenNumeric @bind-Value="InvoiceItemsVm.KM" Style="width:100%" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="UnitPrice" Title="Unit Price">
                                            <Template Context="InvoiceItemsVm">
                                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", InvoiceItemsVm.UnitPrice)
                                            </Template>
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenNumeric @bind-Value="InvoiceItemsVm.UnitPrice" Style="width:100%" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Property="Amount" Title="Amount">
                                            <Template Context="InvoiceItemsVm">
                                                @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", InvoiceItemsVm.Amount)
                                            </Template>
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenNumeric Value="InvoiceItemsVm.Amount" Style="width:100%" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        @*   <RadzenDataGridColumn TItem="Order" Property="ShipName" Title="Ship Name">
                                        <EditTemplate Context="order">
                                        <RadzenTextBox @bind-Value="order.ShipName" Style="width:200px; display: block" Name="ShipName" />
                                        <RadzenRequiredValidator Text="ShipName is required" Component="ShipName" Popup="true" />
                                        </EditTemplate>
                                        </RadzenDataGridColumn> *@

                                        <RadzenDataGridColumn TItem="InvoiceItemsVm" Context="InvoiceItemsVm" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true">
                                            <Template Context="InvoiceItemsVm">
                                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(InvoiceItemsVm))" @onclick:stopPropagation="true">
                                                </RadzenButton>
                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(InvoiceItemsVm))" @onclick:stopPropagation="true">
                                                </RadzenButton>
                                            </Template>
                                            <EditTemplate Context="InvoiceItemsVm">
                                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(InvoiceItemsVm))">
                                                </RadzenButton>
                                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(InvoiceItemsVm))">
                                                </RadzenButton>
                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(InvoiceItemsVm))">
                                                </RadzenButton>
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </div>
                        </div>

                        <div class="row">
                            @*   <div class="col-md-6">
                            <div class="mb-3">
                            <label>Invoice Date:</label>
                            <InputDate @bind-Value="Modal.Date" class="form-control" />
                            </div>

                            </div>
                            <div class="col-md-6">
                            <div class="mb-3">
                            <label for="exampleInputaddress" class="form-label">Item Name:</label>
                            <select class="form-control" aria-label="Default select example" @bind="Modal.ItemName">
                            <option selected>--Select Item Name--</option>
                            @foreach (var item in ItemsList)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }

                            </select>
                            <ValidationMessage For="() => Modal.ItemName" />
                            </div>

                            </div>

                            <div class="col-md-12">
                            <div class="mb-3">
                            <label>Description: <span class="text-danger">*</span></label>
                            <InputRichText @bind-Value="Modal.Description" Placeholder="Add item description here.." maxlength="2048" style="width:100%!important;height:300px!important;" />

                            <ValidationMessage For="() => Modal.Description" />
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class=" mb-3">
                            <label>Hours: <span class="text-danger">*</span></label>
                            <InputNumber @bind-Value="Modal.Hours" class="form-control" aria-label="Add Hours" aria-describedby="basic-addon1" />
                            <ValidationMessage For="() => Modal.Hours" />
                            </div>

                            </div>
                            <div class="col-md-2">
                            <div class="mb-3">
                            <label>Minutes: <span class="text-danger">*</span></label>
                            <InputNumber @bind-Value="Modal.Minutes" class="form-control" />
                            <ValidationMessage For="() => Modal.Minutes" />
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="mb-3">
                            <label>Quantity Time: <span class="text-danger">*</span></label>
                            <input type="text" value="@Modal.QuantityTime" class="form-control" readonly />
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="mb-3">
                            <label>KM(s): <span class="text-danger">*</span></label>
                            <InputNumber @bind-Value="Modal.KM" class="form-control" />
                            <ValidationMessage For="() => Modal.KM" />
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="mb-3">
                            <label>Unit: <span class="text-danger">*</span></label>
                            <select class="form-control" aria-label="Default select example" @bind="Modal.Unit">
                            <option selected>--Select Unit--</option>

                            <option value="Minutes">Minutes</option>
                            <option value="KMs">KMs</option>

                            </select>
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="mb-3">
                            <label>Unit Price: <span class="text-danger">*</span></label>
                            <InputNumber @bind-Value="Modal.UnitPrice" class="form-control" />
                            <ValidationMessage For="() => Modal.UnitPrice" />
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="mb-3">
                            <label>Rate: <span class="text-danger">*</span></label>
                            <InputText @bind-Value="Modal.Rate" Placeholder="Add Rate" class="form-control" />
                            <ValidationMessage For="() => Modal.Rate" />
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="mb-3">
                            <label>Tax: <span class="text-danger">*</span></label>
                            <InputNumber @bind-Value="Modal.Tax"  class="form-control" />
                            <ValidationMessage For="() => Modal.Tax" />
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="mb-3">
                            <label>Amount: <span class="text-danger">*</span></label>
                            <InputNumber @bind-Value="Modal.Amount" class="form-control" />
                            <ValidationMessage For="() => Modal.Amount" />
                            </div>
                            </div> *@

                        </div>

                    </div>
                    <div class="ml-lg-4 ml-md-4 ml-sm-4 mr-3 mb-5">
                        <button type="submit" class=" ml-2 btn  float-right bg-gradient-green" tabindex="11">@ActionName</button>
                        <button type="reset" class="btn btn-secondary float-right" @onclick="CloseSideBar" tabindex="12">Cancel</button>
                    </div>
                </EditForm>
            </div>
            @*  @if (lstInvoiceItems != null)
            {
            <div class="container">
            <GenericList Elements="lstInvoiceItems">
            <NullTemplate>
            <LoaderPage></LoaderPage>
            </NullTemplate>
            <WithElementsTemplate>
            <table class="table table-striped table-sm projects dataTable no-footer dtr-inline" style="font-size:14px">
            <thead>
            <tr class="card-header-gray">
            <th>S.No</th>
            <th>Date </th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Hours</th>
            <th>KMs</th>
            <th>Minutes</th>
            <th>Tax Rate</th>

            <th>Unit Price</th>

            <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            @{
            int i = 0;
            }
            @foreach (var item in lstInvoiceItems)
            {
            i++;
            <tr>
            <td> @i </td>
            <td> @item.Date </td>
            <td> @item.ItemName </td>
            <td> @item.Description </td>
            <td> @item.Hours </td>
            <td> @item.KM </td>
            <td> @item.Minutes </td>
            <td> @item.Tax </td>
            <td> @item.UnitPrice </td>

            <td>

            <a href="#" @onclick:preventDefault @onclick="()=>EditInvoice(item.Id)" class="text-info" title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;
            <a href="#" @onclick:preventDefault @onclick="()=>DeleteInvoice(item.Id)" class="text-danger" title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>

            </tr>
            }
            </tbody>
            </table>
            </WithElementsTemplate>
            </GenericList>
            </div>
            } *@

        </div>




        <div class="offcanvas-footer" kt-hidden-height="112" style="">
        </div>

        @*<img style="position:fixed;top:50%;left:70%;" src="assets/media/loading.gif" />*@

    </div>
</div>


<ModalShowpopup showModal="@responseDialogVisibility" Message="@responseBody" title="@responseHeader" OnVisibilityChangedModel="@OnVisibilityChangedModel"></ModalShowpopup>
<ShowDetailMessage HeaderTitle="@HeaderTitle" MessageDetail="@MessageDetail" IsVisible="ShowDetailsVisibility" OnVisibilityChanged="OnShowMessageVisibilityChanged"></ShowDetailMessage>
<DeleteConfirmation showModal="@DeleteConfirmationVisibility" OnDeleteVisibilityChangedModel="OnDeleteConfirmationVisibilityChangedModel" OnDeleteAddSuccessModel="OnDeleteConfirmationSuccess"></DeleteConfirmation>
<FgcToast TostModels="@TostModelclass"> </FgcToast>


@code {

}
