@page "/NDISServiceAgreement"

<div class="card card-green card-margin">
    <div class="card-header">
        <h3 class="card-title">Add New Agreement</h3>
        <div class="card-tools">
           
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <!--Job DropDown-->
           
                <div class="col-6">
                    <div class="mb-3">
                        <label>Select Job: <span class="text-danger">*</span></label>

                        <Select2 Value="@InvoiceModal.JobID" Readonly="false" ValueExpression="@( () => @InvoiceModal.JobID)" Datasource="@lstJobs" Id="__ClientsList" ValueChanged="@((string value) => SetJobID(value))" SelectName="Select Job" TabIndex="2" />
                        @*  <select class="form-control" aria-label="Default select example" @onchange="OnJobSelected">
                        <option selected>--Select Job--</option>
                        @foreach (var item in lstJobs)
                        {
                        <option value="@item.Id">@item.Job_Number__c</option>
                        }

                        </select> *@

                    </div>

                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label>Date: <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="inputdate">

                    </div>
                </div>
             
        </div>

        <div class="row">

            <div class="col-md-6" style="border-right:1px solid #cdcdcd;">
                <div class="col-12 p-3">
                    <h4>BETWEEN</h4>
                </div>
                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Name (Participant)
                    </div>
                    <div class="col-md-4 col-sm-6 pl-1">
                        <input type="text" class="form-control" placeholder="First Name" id="inputnamep">

                    </div>
                    <div class="col-md-4 col-sm-6 pr-1">
                        <input type="text" class="form-control" placeholder="Last Name" id="inputlastname">

                    </div>
                </div>

                <!--NDIS Number-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        NDIS Number
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" id="inputndisnumber">

                    </div>
                </div>

                <!--Participant's Representative-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Participant's Representative
                    </div>
                    <div class="col-md-4 col-sm-6 pl-1">
                        <input type="text" class="form-control" placeholder="First Name" id="inputnamepr">

                    </div>
                    <div class="col-md-4 col-sm-6 pr-1">
                        <input type="text" class="form-control" placeholder="Last Name" id="inputprlastname">
                    </div>
                </div>

                <!--Address Representative-->

                <div class="col-md-12 bg-color bg-focus  p-3">
                    <div class="d-md-flex">
                        <div class="col-md-4 col-sm-12">
                            Address
                        </div>
                        <div class="col-md-8 col-sm-12 pl-1">
                            <input type="text" class="form-control" placeholder="Street Address" id="inputaddress">

                        </div>
                    </div>

                    <div class="d-md-flex">
                        <div class="col-md-4 col-sm-12">
                        </div>
                        <div class="col-md-8 col-sm-12 mt-2 pl-1">
                            <input type="text" class="form-control" placeholder="Street Address Line 2" id="inputstreetaddress">
                        </div>
                    </div>

                    <div class="d-md-flex">
                        <div class="col-md-4 col-sm-12">
                        </div>
                        <div class="col-md-4 col-sm-6 mt-2 pl-1">
                            <input type="text" class="form-control" placeholder="City" id="inputcity">
                        </div>
                        <div class="col-md-4 mt-2 col-sm-6 pr-1">
                            <input type="text" class="form-control" placeholder="State / Province" id="inputstate">

                        </div>
                    </div>

                    <div class="d-md-flex">
                        <div class="col-md-4 col-sm-12">
                        </div>
                        <div class="col-md-8 col-sm-12 mt-2 pl-1">
                            <input type="text" class="form-control" placeholder="Postal / Zip Code" id="inputstreetzip">
                        </div>
                    </div>

                </div>

                <!--Phone-->
                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Phone Number
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" placeholder="(000) 000-0000" id="inputphone">
                    </div>
                </div>

                <!--Relationship-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Relationship
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" placeholder="Parent, guardian, representative" id="inputrelation">

                    </div>
                </div>

                <!--Email-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Email
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="email" class="form-control" id="inputemail">

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="col-12 p-3">
                    <h4>AND</h4>
                </div>

                <!--Relationship-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-12 col-sm-12">
                        <p>The&nbsp;XXX Company (New South Wales) Property Trust&nbsp;of&nbsp;111 –&nbsp;111&nbsp;ABC Street (ABN&nbsp;11&nbsp;111&nbsp;111&nbsp;111)&nbsp;(“the&nbsp;Organization")</p>
                        <p>The&nbsp;Organization&nbsp;hereby agrees to carry out&nbsp;and/or provide&nbsp;the Supports&nbsp;for the Participant in accordance with&nbsp;the&nbsp;Schedules&nbsp;and the Terms&nbsp;attached to this Agreement.</p>
                    </div>

                </div>

                <div class="col-12 p-3">
                    <h4>Price & Payment Information</h4>
                </div>

                <!--Funding Category-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Funding Category
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>

                        </select>
                    </div>
                </div>

                <!--Program Name-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Program Name
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>

                        </select>
                    </div>
                </div>

                <!--Price/Unit of Measure-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Price/Unit of Measure
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" id="inputunit">
                    </div>
                </div>

                <!--$ Total-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        $ Total
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" id="inputtotal">
                    </div>
                </div>

                <!--Quantity-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Quantity
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" id="inputquantity">
                    </div>
                </div>

                <!--Day of Week-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Day of Week
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>

                        </select>
                    </div>
                </div>

                <!--Time-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Time
                    </div>
                    <div class="col-md-4 col-sm-12 pl-1">
                        <input type="text" class="form-control" placeholder="HH:MM" id="inputtime">
                    </div>
                    <div class="col-md-4 col-sm-12 pr-1">
                        <select class="form-control" aria-label="Default select example">
                            <option value="1">AM</option>
                            <option value="2">PM</option>
                        </select>
                    </div>
                </div>

                <!--Frequency-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Frequency
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>

                        </select>
                    </div>
                </div>

                <!--Number of sessions-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Number of sessions
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" class="form-control" id="inputsession">
                    </div>
                </div>

                <!--Method of Payment-->

                <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
                    <div class="col-md-4 col-sm-12">
                        Method of Payment
                    </div>
                    <div class="col-md-8 d-md-flex flex-wrap col-sm-12" style="gap:20px">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="selfmanaged">
                            <label class="form-check-label" for="selfmanaged">
                                Self managed
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="planmanaged">
                            <label class="form-check-label" for="planmanaged">
                                Plan-managed
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="NDIAmanaged">
                            <label class="form-check-label" for="NDIAmanaged">
                                NDIA managed
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Terms and Conditions-->

        <div class="col-12 p-3">
            <h4>Terms and Conditions</h4>
        </div>

        <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
            <div class="col-md-12 col-sm-12">
                <p>1.&nbsp;The&nbsp;Organization&nbsp;agrees to provide&nbsp;or deliver the&nbsp;Supports to the&nbsp;Participant in accordance with Schedules&nbsp;1&nbsp;and 2,&nbsp;and the terms and&nbsp;conditions of this Agreement.&nbsp;</p><p>2.&nbsp;The parties acknowledge that this Agreement is bound by NDIA’s Terms of&nbsp;Business as in force from time to time.&nbsp;</p><p>3.&nbsp;The parties to this Agreement&nbsp;acknowledge&nbsp;that the Supports in this&nbsp;Agreement are provided&nbsp;to the Participant&nbsp;in the context of the&nbsp;NDIS, which&nbsp;aims to:&nbsp;</p><p>3.1.&nbsp;Support the independence and social and economic participation of people&nbsp;with disability; and&nbsp;</p><p>3.2.&nbsp;Enable people with a disability to exercise choice and control in the pursuit&nbsp;of their goals and the planning and delivery of their supports.</p>
                <p>4.&nbsp;Organization’s Responsibilities</p><p>4.1.&nbsp;The&nbsp;Organization&nbsp;agrees to:&nbsp;</p>
                <p>a)&nbsp;Work&nbsp;with the Participant&nbsp;and/or&nbsp;their&nbsp;representative&nbsp;(if applicable)&nbsp;to&nbsp;deliver Supports that meet your needs;&nbsp;</p>
                <p>b)&nbsp;Consult&nbsp;with&nbsp;the Participant&nbsp;when making decisions about how&nbsp;Supports&nbsp;are provided;</p>
                <p>&nbsp;c)&nbsp;Approve&nbsp;Service Bookings in MyPlace Portal in a timely manner so that&nbsp;scheduled&nbsp;Supports can be delivered as agreed;&nbsp;</p>
                <p>d)&nbsp;Protect&nbsp;the Participant&nbsp;and/or&nbsp;their&nbsp;representative’s privacy and&nbsp;confidential information in compliance with privacy law including the&nbsp;Privacy Act&nbsp;1988 (Cth);&nbsp;</p>
                <p>e)&nbsp;Deliver&nbsp;the&nbsp;Supports in a manner consistent with all relevant laws,&nbsp;including the&nbsp;National Disability Insurance Scheme Act 2013&nbsp;(Cth)&nbsp;and&nbsp;rules, and the&nbsp;Australian Consumer Law;</p>
                <p>&nbsp;f)Keep&nbsp;clear and up to date records on the&nbsp;Supports provided to&nbsp;the&nbsp;Participant;&nbsp;and&nbsp;</p>
                <p>g)&nbsp;Issue&nbsp;regular invoices and statements&nbsp;to&nbsp;The Participant&nbsp;describing the&nbsp;Supports that we have provided to&nbsp;The Participant.</p>
            </div>

        </div>

        <!--Executed as an Agreement-->

        <div class="col-12 p-3">
            <h4>Executed as an Agreement</h4>
        </div>
        <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
            <div class="col-md-4 col-sm-12">
                Date
            </div>
            <div class="col-md-8 col-sm-12">
                <input type="date" class="form-control" id="inputdateagreement">
            </div>
        </div>

        <!--Signature of Participant/Guardian-->

        <div class="col-md-12 bg-color bg-focus d-md-flex p-3">
            <div class="col-md-4 col-sm-12">
                Signature of Participant/Guardian
            </div>
            <div class="col-md-8 col-sm-12">
                <label>Please Sign Below:</label><br />
                <canvas id="signatureCanvas" @ref="canvasRef" style="border: 1px solid black;"></canvas>
                <button class="btn" @onclick="ClearSignature">Clear</button>
            </div>

        </div>
    </div>
</div>

<FgcToast TostModels="@TostModelclass"> </FgcToast>

@code {

}
