@page "/MyJobs"
<style>
    th {
        border-right: none;
    }
</style>
<FormLoader Istrue="@IsloaderShow"></FormLoader>
<div class="card card-green card-margin">
    <div class="card-header">
        <h3 class="card-title"><i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;My Jobs</h3>
        <div class="card-tools"></div>
    </div>
    <div class="card-body">

        <h5 class="mb-0" style="font-size: 20px;">NDIS Jobs</h5>
        <div style="border:1px solid #b9b9b9a1"></div>
        <div class="row mt-3">
            @foreach (var job in NDISJobs)
            {
                <div class="col-lg-4 col-sm-12" style="padding-right: 7.5px;padding-left: 7.5px;">
                    <!-- small box -->
                    <div class="small-box bg-default p-2 cursor-pointer">
                        <div class="inner pb-0">
                            <div class="d-flex justify-content-between">
                                <p>Name : @job.Name</p>
                                <p>Gender: @job.Gender</p>
                                <p>@job.Age</p>


                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Post Code: @job.Postcode</p>
                                <p class="ellipsis">Suburb : <span @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.Suburb).ToString())">@job.Suburb</span></p>
                                <p>State: @job.State</p>
                            </div>
                            <div class="text-left">
                                <p class="ellipsis">Diagnosed Conditions: <span style="color:blue;" @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.DiagnosedConditions).ToString())"><strong>@job.ShortDC</strong></span> </p>
                                <p class="ellipsis">Reason for Referral: <span style="color:blue;" @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.Description).ToString())"><strong>@job.ShortDescription</strong></span> </p>
                            </div>
                            @*   <div class="d-flex justify-content-between">
                        <p>Name : <span class="text-success">@job.Name</span></p>
                        <p>Job Status : <span class="text-success">@job.Status</span></p>
                        </div> *@
                            <div class="d-flex justify-content-between">
                                <p>Date Allocated</p>
                                <p>@(job.DatePosted.Value.ToString("dd-MMM-yyyy"))</p>
                            </div>

                            <div class="row p-2">

                                <div class="col-sm-6" style="border-right:1px solid #fff; border-bottom:1px solid #fff; float: right; padding:0px;">
                                    @if (IsReferralSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Referral Form
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick="()=>ShowNDISJobDetail(job.ID)"> <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2"></i> Referral Form</button>
                                    }

                                    @*   <a href="javascript:void(0)" class="small-box-footer bg-gradient-green" title="More info" @onclick="()=>ShowHCPJobDetail(job.ID)">
                                &nbsp; More info
                                <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2"></i>

                                @*  <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2" @onclick="()=>ShowAddClinicalDataSideBar()"></i> *@
                                    @*  </a>  *@
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; border-bottom:1px solid #fff; padding:0px;">
                                    @if (IsClinicalNoteSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Clinical Notes
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowAddClinicalDataSideBar(job.ID,"NDIS")'> <i class="fas fa-plus-circle pull-right mt-1 mr-2"></i> Clinical Notes</button>
                                    }

                                    @*  <a href="javascript:void(0)" @onclick="()=>ShowAddClinicalDataSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Clinical Notes">
                                &nbsp; Clinical Data

                                <i class="fas fa-plus-circle pull-right mt-1 mr-2"></i>
                                </a> *@
                                </div>

                                <div class="col-sm-6" style="border-right:1px solid #fff; text-align:center; float: right; padding:0px;padding-bottom: 1px;">
                                    @if (IsCreateInvoiceSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Create Invoice
                                        </button>
                                    }
                                    else
                                    {
                                        <a class="btn small-box-footer bg-gradient-green w-100" href="javascript:void(0)" @onclick='()=>ShowAddInvoiceSideBar(job.ID,"NDIS")' id="create_pdf" style="cursor:pointer">
                                            Create Invoice
                                        </a>
                                    }

                                    @*    <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick="()=>ShowAddInvoiceSideBar(job.ID)"> <i class="fas fa-file-invoice-dollar pull-right  mt-1 mr-2"></i> Create Invoice</button> *@
                                    @*  <a href="javascript:void(0)" @onclick="()=>ShowAddInvoiceSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Create Invoice">
                                @*  &nbsp; Invoices

                                <i class="fas fa-file-invoice-dollar fa-2x  mt-1 mr-2"></i>
                                </a> *@
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; padding:0px;">
                                    @if (IsUploadFileSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Upload Files
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowUploadDocumentsSideBar(job.ID,"NDIS")'> <i class="fas fa-paperclip pull-right mt-1 mr-2"></i> Upload Files</button>
                                    }

                                    @* <a href="javascript:void(0)" @onclick="()=>ShowUploadDocumentsSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Upload Documents">
                                &nbsp; Upload Documents

                                <i class="fas fa-paperclip pull-right mt-1 mr-2"></i>
                                </a> *@
                                </div>
                            </div>



                        </div>

                    </div>

                </div>
            }
            <div class="col-12 text-right" style="padding-right: 7.5px;">
                @if (NDISCount > 3)
                {
                    @if (IsNDISShowMore)
                    {

                        <button type="button" class="btn bg-gradient-green" @onclick="ShowNDISMore" style="background:#1f1f8d ">Show More</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" @onclick="ShowNDISLess">Show Less</button>
                    }
                }


            </div>

        </div>

        <!--HCP Jobs-->

        <h5 class="mb-0" style="font-size: 20px;">HCP Jobs</h5>
        <div style="border:1px solid #b9b9b9a1"></div>
        <div class="row mt-3">
            @foreach (var job in HCPJobs)
            {
                <div class="col-lg-4 col-sm-12" style="padding-right: 7.5px;padding-left: 7.5px;">
                    <!-- small box -->
                    <div class="small-box bg-default p-2 cursor-pointer">
                        <div class="inner pb-0">
                            <div class="d-flex justify-content-between">
                                <p>Name: @job.Name</p>
                                <p>Gender: @job.Gender</p>
                                <p>@job.Age</p>


                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Post Code: @job.Postcode</p>
                                <p class="ellipsis">Suburb : <span @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.Suburb).ToString())">@job.Suburb</span></p>
                                <p>State: @job.State</p>
                            </div>
                            <div class="text-left">
                                <p class="ellipsis">Diagnosed Conditions: <span style="color:blue;" @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.DiagnosedConditions).ToString())"><strong>@job.ShortDC</strong></span> </p>
                                <p class="ellipsis">Reason for Referral: <span style="color:blue;" @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.Description).ToString())"><strong>@job.ShortDescription</strong></span> </p>
                            </div>
                            @*   <div class="d-flex justify-content-between">
                        <p>Name : <span class="text-success">@job.Name</span></p>
                        <p>Job Status : <span class="text-success">@job.Status</span></p>
                        </div> *@
                            <div class="d-flex justify-content-between">
                                <p>Date Allocated</p>
                                <p>@(job.DatePosted.Value.ToString("dd-MMM-yyyy"))</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-6" style="border-right:1px solid #fff; border-bottom:1px solid #fff; float: right; padding:0px;">
                                    @if (IsHCPReferralFormSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Referral Form
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick="()=>ShowHCPJobDetail(job.ID)"> <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2"></i> Referral Form</button>
                                    }

                                    @*   <a href="javascript:void(0)" class="small-box-footer bg-gradient-green" title="More info" @onclick="()=>ShowHCPJobDetail(job.ID)">
                                &nbsp; More info
                                <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2"></i>

                                @*  <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2" @onclick="()=>ShowAddClinicalDataSideBar()"></i> *@
                                    @*  </a>  *@
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; border-bottom:1px solid #fff; padding:0px;">
                                    @if (IsHCPClinicalNoteSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Clinical Notes
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowAddClinicalDataSideBar(job.ID,"HCP")'> <i class="fas fa-plus-circle pull-right mt-1 mr-2"></i> Clinical Notes</button>
                                    }

                                    @*  <a href="javascript:void(0)" @onclick="()=>ShowAddClinicalDataSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Clinical Notes">
                                &nbsp; Clinical Data

                                <i class="fas fa-plus-circle pull-right mt-1 mr-2"></i>
                                </a> *@
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; text-align:center; float: right; padding:0px;padding-bottom: 1px;">
                                    @if (IsHCPCreateInvoiceSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Create Invoice
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowAddInvoiceSideBar(job.ID, "HCP")'> <i class="fas fa-file-invoice-dollar pull-right  mt-1 mr-2"></i> Create Invoice</button>
                                    }

                                    @*  <a href="javascript:void(0)" @onclick="()=>ShowAddInvoiceSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Create Invoice">
                                @*  &nbsp; Invoices

                                <i class="fas fa-file-invoice-dollar fa-2x  mt-1 mr-2"></i>
                                </a> *@
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; padding:0px;">
                                    @if (IsHCPUploadFileSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Upload Files
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowUploadDocumentsSideBar(job.ID,"HCP")'> <i class="fas fa-paperclip pull-right mt-1 mr-2"></i> Upload Files</button>
                                    }

                                    @* <a href="javascript:void(0)" @onclick="()=>ShowUploadDocumentsSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Upload Documents">
                                &nbsp; Upload Documents

                                <i class="fas fa-paperclip pull-right mt-1 mr-2"></i>
                                </a> *@
                                </div>
                            </div>
                          

                        </div>
                    </div>

                </div>
            }
            <div class="col-12 text-right" style="padding-right: 7.5px;">
                @if (HCPCounts > 3)
                {
                    @if (IsHCPShowMore)
                    {

                        <button type="button" class="btn bg-gradient-green" @onclick="ShowHCPMore" style="background:#1f1f8d ">Show More</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" @onclick="ShowHCPLess">Show Less</button>
                    }
                }

            </div>

        </div>

        <!--DVA Jobs-->

        <h5 class="mb-0" style="font-size: 20px;">DVA Jobs</h5>
        <div style="border:1px solid #b9b9b9a1"></div>
        <div class="row mt-3">
            @foreach (var job in DVAJobs)
            {
                <div class="col-lg-4 col-sm-12" style="padding-right: 7.5px;padding-left: 7.5px;">
                    <!-- small box -->
                    <div class="small-box bg-default p-2 cursor-pointer">
                        <div class="inner pb-0">
                            <div class="d-flex justify-content-between">
                                <p>Name : @job.Name</p>
                                <p>Gender: @job.Gender</p>
                                <p>@job.Age</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Post Code: @job.Postcode</p>
                                <p class="ellipsis">Suburb : <span @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.Suburb).ToString())">@job.Suburb</span></p>
                                <p>State: @job.State</p>
                            </div>
                            <div class="text-left">
                                <p class="ellipsis">Diagnosed Conditions: <br /> <span @onclick:preventDefault @onclick="() => ShowMessage(FGCExtensions.ShowMarkupString(job.ShortDescription).ToString())"><strong>@job.ShortDescription</strong></span> </p>
                            </div>
                            @*    <div class="d-flex justify-content-between">
                        <p>Name : <span class="text-success">@job.Name</span></p>
                        <p>Job Status : <span class="text-success">@job.Status</span></p>
                        </div> *@
                            <div class="d-flex justify-content-between">
                                <p>Date Allocated</p>
                                <p>@(job.DatePosted.Value.ToString("dd-MMM-yyyy"))</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-6" style="border-right:1px solid #fff; border-bottom:1px solid #fff; float: right; padding:0px;">
                                    @if (IsDVAReferralFormSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Referral Form
                                        </button>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick="()=>ShowDVAJobDetail(job.ID)"> <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2"></i> Referral Form</button>
                                        @*   <a href="javascript:void(0)" class="small-box-footer bg-gradient-green" title="More info" @onclick="()=>ShowHCPJobDetail(job.ID)">
                                &nbsp; More info
                                <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2"></i>

                                @*  <i class="fas fa-arrow-circle-right pull-right mt-1 mr-2" @onclick="()=>ShowAddClinicalDataSideBar()"></i> *@
                                        @*  </a>  *@

                                    }
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; border-bottom:1px solid #fff; padding:0px;">
                                    @if (IsDVAClinicalNoteSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Clinical Notes
                                        </button>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowAddClinicalDataSideBar(job.ID,"DVA")'> <i class="fas fa-plus-circle pull-right mt-1 mr-2"></i> Clinical Notes</button>
                                        @*  <a href="javascript:void(0)" @onclick="()=>ShowAddClinicalDataSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Clinical Notes">
                                &nbsp; Clinical Data

                                <i class="fas fa-plus-circle pull-right mt-1 mr-2"></i>
                                </a> *@

                                    }
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; text-align:center; float: right; padding:0px;padding-bottom: 1px;">
                                    @if (IsDVACreateInvoiceSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Create Invoice
                                        </button>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowAddInvoiceSideBar(job.ID,"DVA")'> <i class="fas fa-file-invoice-dollar pull-right mt-1 mr-2"></i> Create Invoice</button>
                                        @*  <a href="javascript:void(0)" @onclick="()=>ShowAddInvoiceSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Create Invoice">
                                @*  &nbsp; Invoices

                                <i class="fas fa-file-invoice-dollar fa-2x  mt-1 mr-2"></i>
                                </a> *@

                                    }
                                </div>
                                <div class="col-sm-6" style="border-right:1px solid #fff; padding:0px;">
                                    @if (IsDVAUploadFileSpinner && job.ID == JobID)
                                    {
                                        <button class="btn btn-primary w-100" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Upload Files
                                        </button>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn small-box-footer bg-gradient-green w-100" @onclick='()=>ShowUploadDocumentsSideBar(job.ID,"DVA")'> <i class="fas fa-paperclip pull-right mt-1 mr-2"></i> Upload Files</button>
                                        @* <a href="javascript:void(0)" @onclick="()=>ShowUploadDocumentsSideBar(job.ID)" class="small-box-footer bg-gradient-green" title="Upload Documents">
                                &nbsp; Upload Documents

                                <i class="fas fa-paperclip pull-right mt-1 mr-2"></i>
                                </a> *@

                                    }
                                </div>
                            </div>
                          
                        </div>
                   
                    </div>

                </div>
            }
            <div class="col-12 text-right" style="padding-right: 7.5px;">
                @if (DVACounts > 3)
                {
                    @if (IsShowMore)
                    {

                        <button type="button" class="btn bg-gradient-green" @onclick="ShowMore" style="background:#1f1f8d ">Show More</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" @onclick="ShowLess">Show Less</button>
                    }
                }


            </div>

        </div>




    </div>
</div>

<FgcToast TostModels="@TostModelclass"> </FgcToast>

@if (UploadDocumentVisibility)
{
    <ArdantOffical.Components.ClinicalData.JobsAttachments JobId="@JobID" OnVisibilityChanged="HideUploadDocumentsSideBar"></ArdantOffical.Components.ClinicalData.JobsAttachments>
}
@if (AddSideBarVisibility)
{
    <ArdantOffical.Components.ClinicalData.AddClinicalData IsVisible="AddSideBarVisibility" JobId="@JobID" JobType="@JobType" OnVisibilityChanged="OnAddUserVisibilityChanged" OnAddSuccess="OnAddSuccess"></ArdantOffical.Components.ClinicalData.AddClinicalData>
}
@if (IsDVAJobDetail)
{
    <ArdantOffical.Components.Jobs_Details.DVADetail JobId="@JobID" VisibilityHide="HideDVAJobDetail" OnAddSuccess="OnAddSuccess"></ArdantOffical.Components.Jobs_Details.DVADetail>
}
@if (IsHCPJobDetail)
{
    <ArdantOffical.Components.Jobs_Details.HCPDetail JobId="@JobID" VisibilityHide="HideHCPJobDetail" OnAddSuccess="OnAddSuccess"></ArdantOffical.Components.Jobs_Details.HCPDetail>
}
@if (IsNDISShowJobDetail)
{
    <ArdantOffical.Components.Jobs_Details.NDISDetail JobId="@JobID" OnVisibilityChanged="HideNDISJobDetail" OnAddSuccess="OnAddSuccess"></ArdantOffical.Components.Jobs_Details.NDISDetail>
}
@if (AddInvoiceVisibility)
{
    <ArdantOffical.Components.JobInvoices.Invoices IsVisible="AddInvoiceVisibility" JobId="@JobID" OnVisibilityChanged="OnAddInvoiceVisibilityChanged"></ArdantOffical.Components.JobInvoices.Invoices>
}
<ShowDetailMessage HeaderTitle="@HeaderTitle" MessageDetail="@MessageDetail" IsVisible="ShowDetailsVisibility" OnVisibilityChanged="OnShowMessageVisibilityChanged"></ShowDetailMessage>
@code
{


}


